.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;

    &__title {
        color: $color-grey-dark;
        order: 1;
        transition: all .4s;

        &:hover {
            color: #afafaf;
            text-decoration: line-through;
        }
    }

    @include respond(phone) {
      padding: 2rem;
    }
}