.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;

    &__title {
        color: $color-grey-dark;
        order: 1;
        transition: all .4s;

        &:hover {
            color: #afafaf;
            text-decoration: line-through;
        }
    }

    // &__logo-box {
    //     position: absolute;
    //     top: 4rem;
    //     left: 4rem;
    // }

    // &__logo {
    //     height: 3.5rem;
    // }

    // &__text-box {
    //     position: absolute;
    //     top: 40%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     text-align: center;
    // }
}