.navigation {
    order: 0;

    &__link {
        font-size: 1.6rem;
        color: $color-grey-dark;
        text-decoration: none;
        transition: all .4s;

        &:hover {
            text-decoration: underline;
            color: $color-black;
        }
    }   
}