.section-infomation {
  padding: 4rem;

  @include respond(phone) {
    padding: 2rem;
  }
}

.section-infomation {
  background: linear-gradient(-45deg, #efa48d, #f7acc9, #6accef, #78e6cc);
}

.section-project,
.section-toy,
.section-study {
  scroll-behavior: smooth;
  padding: 4rem 6rem;

  @include respond(phone) {
    padding: 2rem 3rem;
  }
}
