.section-infomation {
  padding: 4rem;

  @include respond(phone) {
    padding: 2rem;
  }
}

.section-infomation {
  background-color: $color-grey-dark-4;
}

.section-project,
.section-toy,
.section-study {
  scroll-behavior: smooth;
  padding: 4rem 6rem;

  @include respond(phone) {
    padding: 2rem 3rem;
  }
}