.section-infomation {
    padding: 4rem;
}

.section-infomation {
    background-color: $color-grey-dark-4;
}

.section-project,
.section-toy,
.section-study {
  scroll-behavior: smooth;
  padding: 4rem 6rem;
}